<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" media="screen,projection" />
   <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />

   <style>
      body {
         background-color: powderblue;
         font-family: sans-serif;
      }

      .pizzas {
         display: flex;
      }

      .pizza {
         background-color: rgb(117, 152, 250);
         padding: 1em;
         margin: 1em;
         flex: 1;
      }

      .small {
         background-color: plum;
      }

      .medium {
         background-color: palevioletred;
      }

      .large {
         background-color: rgb(117, 152, 250);
      }

      .buy {
         margin-top: 0.5em;
         padding: 0.5em;
         width: 5em;
         background-color: pink;
         border-radius: 0.25em;
      }




      .buyBtn,
      .orderBtn {
         padding: 5px 25px 5px 25px;
         margin: 10px 0 0 0;

      }

      .Collected {
         display: none;
      }



      /* td, th {
    border:none;
 } */

      table,
      th,
      td {
         border: solid white 1px;
         border-collapse: collapse;
         margin-left: auto;
         margin-right: auto;
      }

      th,
      td {
         vertical-align: middle;
         padding: 0.5em;
      }

      table {
         margin-left: unset;
         margin-right: unset;
         width: 100%;
      }

      .large>.card-body {
         padding: 0.5em;
      }

      .home-test,
      .facility-test {
         border: solid red 10px;
      }
   </style>
</head>

<body style="background-color:">
   <div class="container">
      <div class="row">
         <div class="budget pizza">
            <form action="/update-prescription/{{prescript.id}}" method="post">
               <h2 class="d-flex">Update Prescription</h2>
               <div class="form-group">
                  <label>Dosage/Directions</label>
                  <textarea class="form-control" style="width: 50%; text-align:left" name="dosage">{{prescript.dosage}}</textarea>
               </div>
               <div class="d-flex">
                  <button class="btn btn-outline-light orderBtn" type="submit">Update</button>
               </div>
            </form>
         </div>

      </div>



   </div>

   <script src="/js/jquery.js"></script>
   <script src="/js/bootstrap.js"></script>

</body>

</html>